SHIP_DOMAIN=mydomain.com
SHIP_NAMESPACE=ship-services
SHIP_GATEWAY_NAMESPACE=ship-system
SHIP_GATEWAY_NAME=ship-tailscale
SHIP_INTERNET_GATEWAY_NAME=ship-internet
SHIP_DASHBOARD_HOST=k8s.mydomain.com
SHIP_DASHBOARD_PORT=9292
SHIP_IMAGE_PREFIX=ship
KIND_CLUSTER=ship
REGISTRY=
