SHIP_DOMAIN=mydomain.com
CLOUDFLARE_API_TOKEN=
TAILSCALE_CLIENT_ID=
TAILSCALE_CLIENT_SECRET=
# Optional ACME account email. Defaults to admin@$SHIP_DOMAIN.
# SHIP_ACME_EMAIL=admin@mydomain.com
# Optional dashboard service name.
# Defaults to k8s, which gives you k8s.your-domain.com.
# SHIP_DASHBOARD_SERVICE=ops
